@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    ESBA Villa Devoto<br />
    Av Monroe 3500<br />
    <abbr title="Telefono">P:</abbr>
    +54 9 11 5774 0322
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">bordond@hotmail.com</a><br />
</address>